numpy
svglib
reportlab
sqlalchemy
uvicorn
pydantic
fastapi
matplotlib
aiosqlite
tzdata
pytest
pytest-asyncio
httpx
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
python-dotenv
